<footer class="footer">
  <div class="container_logo_footer">
    <img src="../assets/footer/logo_white.png" alt="">
  </div>
  <div class="container_info_footer">
    <h3>Soporte Marketplace</h3>
    <p>Centro de Atención:<span>(601) 558 9647</span></p>
    <p>WhatsApp:<span>(+57) 314 483513</span></p>
    <p>E-mail <span>Soporte&#64;fletx.co</span></p>
    <h3 class="subtitle_footer">Store.fletx.co</h3>
  </div>
  <div class="about_us_footer">
    <ul>
      <li>Quienes Somos</li>
      <li>Noticias</li>
      <li>Blog</li>
      <li>Liderazgo</li>
      <li>Trabaja con Nosotros</li>
      <li>Contáctanos</li>
    </ul>
  </div>
  <div class="services_footer">
    <div class="social_media">
      <h3>Síguenos en redes sociales</h3>
      <div class="container_links_social_media">
        <a href="https://web.facebook.com/FletXCO?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer">
          <img src="../assets/footer/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com/fletx_/" target="_blank" rel="noopener noreferrer">
          <img src="../assets/footer/instagram.png" alt="">
        </a>
        <a href="https://www.linkedin.com/company/40960265/admin/" target="_blank" rel="noopener noreferrer">
          <img src="../assets/footer/linkedin.png" alt="">
        </a>
        <a href="https://youtube.com/channel/UCdhKme5PmiiFhRlpwOdBL4g" target="_blank" rel="noopener noreferrer">
          <img src="../assets/footer/youtube.png" alt="">
        </a>
      </div>
    </div>
    <div class="politicies">
      <div class="links_politicies">
        <a href="https://fletx.co/terms_and_conditions/" target="_blank" rel="noopener noreferrer">
          Política de Privacidad
        </a> | <a href="https://fletx.co/habeas_data/" target="_blank" rel="noopener noreferrer">
          Hábeas Data </a> | <a href="https://fletx.co/terms_and_conditions/" target="_blank" rel="noopener noreferrer"> Términos y Condiciones </a>
      </div>
      <p>
        FletX Derechos Reservados 2021 - 2022
      </p>
    </div>
  </div>
</footer>
